* {
  font-family: "Dancing Script", cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 900px) {
  img {
    max-width: 30%;
  }
}

.top-right-decoration {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.top-left-decoration {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.title h1 {
  font-weight: bold;
  font-style: normal;
  font-size: 42px;
  margin: 32px 0;
  color: #674ea7;
}

.title h2 {
  font-style: normal;
  margin: 32px 0;
  padding: 0;
  font-size: 24px;
  color: #564861;
  line-height: 1;
}

.sender {
  color: #874562;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}

.music {
  display: none;
}
